.reservation-container {
  width: 100%;
  height: auto;
  min-height: 100vh;
  display: inline-block;
}

.reservation-container .reservation-table {
  width: 100%;
  height: auto;
  padding: 2rem;
  border-radius: 0.5rem;
  background: #ffffff;
  margin: 2rem 0rem;
  box-shadow: 0 20px 27px 0 rgba(0, 0, 0, 0.05);
}

.reservation-container .reservation-table h2 {
  margin-bottom: 1.5rem;
  font-size: 1.1rem;
}

.reservation-container .reservation-form {
  width: 100%;
  height: auto;
  padding: 2rem;
  border-radius: 0.5rem;
  background: #ffffff;
  margin: 2rem 0rem;
  box-shadow: 0 20px 27px 0 rgba(0, 0, 0, 0.05);
}

.reservation-container .reservation-form h2 {
  margin-bottom: 1.5rem;
  font-size: 1.1rem;
}

.reservation-form input {
  display: block;
  width: calc(100% - 2rem);
  padding: 0.75rem;
  margin-bottom: 1.5rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.reservation-form button {
  display: block;
  width: calc(100% - 2rem);
  padding: 0.75rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.reservation-form button:hover {
  background-color: #0056b3;
}