* {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 1rem;
  direction: ltr;
  font-synthesis: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 1);
}

body {
  width: 100vw;
  max-width: 100vw;
  min-height: calc(100vh - 4rem);
  max-height: calc(100vh - 4rem);
  overflow: hidden;
  overflow-y: auto;
}

